* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.621),rgba(0, 0, 0, 0.61)), url(./assets/msg2019741253-13834.jpg)fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

.maps-google {
  margin-left: 100px;
}